@charset "utf-8";
@import "common/base.scss";

.wrap {
    position: relative;
    min-width: 1000px;

    .inner {
        width: 1000px;
        margin: 0 auto;
    }

    .nav {
        position: absolute;
        height: 60px;
        left: 0;
        right: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 99;

        .inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 60px;
            padding: 0 20px;
            box-sizing: border-box;
            color: #fff;
    
            .logo {
                position: relative;
                font-size: 22px;
                font-weight: 800;
            }
    
            .menu {
                li {
                    float: left;
                    text-align: center;
    
                    & + li {
                        margin-left: 40px;
                    }

                    a {
                        display: block;
                        font-size: 17px;
                        color: rgba(255, 255, 255, 0.7);
    
                        &:hover {
                            font-weight: bold;
                            color: #fff;
                            transition: all 0.3s;

                            &::after {
                                transform: scaleX(1);
                            }
                        }

                        &::after {
                            display:block;
                            content: '';
                            border-bottom: solid 2px #ea2129;  
                            transform: scaleX(0);  
                            transition: transform 250ms ease-in-out;
                        }
                    }
                }

                &::after {
                    display: block;
                    content: '';
                    clear: both;
                }
            }
        }

        &.fix {
            position: fixed;
            top: 0;
            backdrop-filter: blur(10px);
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            background: rgba(255, 255, 255, 0.5);

            .logo {
                color: #000;
            }
            
            .menu {
                li a {
                    color: rgba(0, 0, 0, 0.6);
                    &:hover {
                        color: #000;
                    }
                }
            }
        }
    }

    .header {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: auto;
        max-height: 930px;
        margin: 0 auto;

        video {
            width: 100vw;
            height: auto;
            min-height: 100%;
        }

        &::after {
            position: absolute;
            width: 32px;
            height: 32px;
            left: 50%;
            bottom: 30px;
            transform: translate(-50%, 0);
            animation: motion 0.4s linear 0s infinite alternate;
            background: url(../img/spot_arrow.png) 0 0 / 32px 32px no-repeat;
            content: '';
        }

        @keyframes motion {
            0% {bottom: 30px;}
            100% {bottom: 35px;}
        }

        .inner {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
    
            .inner_txt {
                font-size: 22px;
                color: #fff;
                letter-spacing: -.4px;
    
                & + .inner_txt {
                    margin-top: 13px;
                    font-size: 24px;
                    line-height: 32px;
                }
    
                b {
                    color: #000;
                    background: #F8CD07;
                }
            }
        }
    }

    .section {
        .tit {
            position: relative;
            font-size: 24px;
            font-weight: 800;
            margin-bottom: 30px;

            &::after {
                content: '';
                display: block;
                width: 0;
                height: 20px;
                z-index: -1;
                border-bottom: 3px solid #ea2129;
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }

        &.move {
            .tit {
                &::after {
                    animation: highlight 500ms linear;
                    animation-fill-mode: both;
                    animation-delay: 300ms;
                }
            }
        }

        @keyframes highlight {
            0% { width: 0; }
            100% { width: 100%; }
        }
    }

    .about {
        padding: 160px 0 0 0;

        .content_area {
            overflow: hidden;
            position: relative;
            display: flex;
            margin-top: 40px;
            border-radius: 16px;
            box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
            box-sizing: border-box;
            background: #fff;
            z-index: 10;
        }

        .img_area {
            overflow: hidden;
            min-width: 283px;
            max-width: 283px;

            img {
                width: 100%;
                height: auto;
            }
        }

        .text_area {
            position: relative;
            padding: 30px 20px;

            .inner_txt {
                font-size: 18px;
                word-break: keep-all;
                line-height: 24px;
                color: #333;

                & + .inner_txt {
                    margin-top: 15px;
                }

                b {
                    position: relative;
                    font-size: 20px;
                    color: #000;
                }

                &:last-child {
                    position: absolute;
                    padding-top: 15px;
                    font-size: 20px;
                    bottom: 30px;
                    right: 20px;
                    border-top: 1px solid rgb(38, 72, 134);

                    b {
                        font-size: 24px;
                    }
                }
            }
        }

        .info_area {
            margin-top: -50px;
            padding: 90px 0 90px;
            background: #e5e9f0;

            .inner {
                display: flex;
            }

            .inner_info {
                overflow: hidden;
                flex: 1 1 0;
                min-height: 240px;
                background: #fff;
                border-radius: 12px;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                border: 1px solid #f2f2f2;
                text-align: center;
                transition: all .3s;

                & + .inner_info {
                    margin-left: 20px;
                    border: 1px solid rgb(38, 72, 134);

                    .info_tit {
                        background: rgb(38, 72, 134);
                        color: #f2f2f2;
                    }
                }

                .info_tit {
                    display: block;
                    padding: 15px 0;
                    margin-bottom: 20px;
                    font-size: 20px;
                    font-weight: bold;
                    background: #f2f2f2;
                    color: rgb(38, 72, 134);
                    transition: all .3s;
                }

                .list_area {
                    li {
                        font-size: 16px;
                        color: rgb(68, 68, 68);
                        & + li {
                            margin-top: 6px;
                        }
                    }
                }
            }
        }
    }
}