@charset "utf-8";
@import "common/base.scss";

.wrap {
    position: relative;
    min-width: 1000px;

    .inner {
        width: 1000px;
        margin: 0 auto;
    }

    .nav {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: 99;

        .inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 60px;
            padding: 0 40px;
            box-sizing: border-box;
            color: #fff;
    
            .logo {
                font-size: 22px;
                font-weight: 800;
            }
    
            .menu {
                display: flex;
    
                li {
                    flex: 1 1 0;
                    min-width: 100px;
                    text-align: center;
    
                    a {
                        display: block;
                        font-size: 16px;
                        color: rgba(255, 255, 255, 0.6);
    
                        &:hover {
                            font-weight: 500;
                            font-size: 17px;
                            color: #fff;
                            transition: all 0.3s;
                        }
                    }
                }
            }
        }
    }


    .mySwiper {
        background: url(../img/spot_img1.jpg) 0 0 / 960px 540px no-repeat #000;

        .swiper-slide {
            text-align: center;

            .item {
                position: relative;
                width: 1000px;
                margin: 0 auto;
                height: 540px;
                padding: 200px 0 150px;
                box-sizing: border-box;

                &::before {
                    position: absolute;
                    width: 1000px;
                    height: 300px;
                    left: 50%;
                    top: 25%;
                    transform: translate(-50%, 0);
                    border-radius: 18px;
                    background: rgba(255, 255, 255, 0.6);
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                }
            }
        }

        .inner_area {
            position: relative;
            margin-left: 500px;
            background-color: #000;
            z-index: 10;
            box-sizing: border-box;
        }

        .inner_txt {
            background-color: #000;
            font-size: 22px;
            line-height: 32px;
            letter-spacing: -.06px;
            color: #fff;

            & + .inner_txt {
                margin-top: 13px;
            }
        }

        .link_area {
            display: inline-block;
            margin-top: 9px;
            padding: 10px 18px 8px;
            border: 1px solid #fff;
            font-size: 18px;
            color: #fff;
            vertical-align: middle;

            &:hover {
                border-radius: 16px;
                border: 1px solid rgb(139, 9, 9);
                background: rgb(139, 9, 9);
                color: #fff;
                transition: all .3s;
            }
        }
    }
}