@charset "utf-8";
@import "common/base.scss";

.wrap {
    position: relative;
    min-width: 1000px;

    .inner {
        width: 1000px;
        margin: 0 auto;
    }

    .nav {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: 10;

        .inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 60px;
            padding: 0 40px;
            box-sizing: border-box;
            color: #fff;
    
            .logo {
                font-size: 22px;
                font-weight: 800;
            }
    
            .menu {
                display: flex;
    
                li {
                    flex: 1 1 0;
                    min-width: 100px;
                    text-align: center;
    
                    a {
                        display: block;
                        font-size: 16px;
                        color: rgba(255, 255, 255, 0.6);
    
                        &:hover {
                            font-weight: 500;
                            font-size: 17px;
                            color: #fff;
                            transition: all 0.3s;
                        }
                    }
                }
            }
        }
    }


    .mySwiper {
        .swiper-slide {
            text-align: center;

            .item {
                padding: 160px 0 90px;
                background: linear-gradient(to right, #fc00ff, #00dbde);

                &.item2 {
                    background: linear-gradient(to right, #4776e6, #8e54e9);
                    .link_area:hover {
                        color: #8e54e9;
                    }
                }

                &.item3 {
                    background: linear-gradient(to right, #8360c3, #2ebf91);
                    .link_area:hover {
                        color: #5890a9;
                    }
                }
            }
        }

        .inner_txt {
            font-size: 22px;
            line-height: 32px;
            letter-spacing: -.6px;
            color: #fff;

            & + .inner_txt {
                margin-top: 13px;
            }
        }

        .link_area {
            display: inline-block;
            margin-top: 18px;
            padding: 10px 18px 8px;
            border: 1px solid #fff;
            font-size: 18px;
            color: #fff;
            vertical-align: middle;

            &:hover {
                border-radius: 16px;
                background: #fff;
                color: #7c6eee;
                transition: all .3s;
            }
        }
    }
}